html,
body {
  overflow: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

article {
  max-width: 600px;
  /* margin: auto; */
}

.highlight.coral {
  background-color: coral;
}

.highlight.aqua {
  background-color: aqua;
}

.minimap-container {
  /* max-width: 600px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  /* margin: auto; */
}

.minimap {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  background-color: white;
  border: none;
  /* opacity: 0.5; */
  /* transition: all 0.3s; */
}

.minimap:hover {
  /* opacity: 1; */
  /* background-color: wheat; */
}

.minimap-viewport {
  /* visibility: hidden; */
  opacity: 0.35;
}

.minimap-children {
  background-color: pink;
  border: none;
  opacity: 0.4;
}

.minimap-children:hover {
  opacity: 1;
  cursor: pointer;
}
